:root {
    /* <!-- ### Primary --> */
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);
    /* <!-- ### Neutral --> */
    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);

    --border-radius: .7rem;
}

* {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    /* - Weights: 400, 500, 700 */
}

body {
    margin: 0;
    background-color: var(--Magnolia);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    width: 60vw;
    height: 70vh;
    background-color: var(--White);
    border-radius: var(--border-radius);
    padding: 1.3rem;
    display: grid;
    grid-template-columns: 30% 1fr;
}

/* SIDEBAR */
.sidebar {
    background: url(assets/images/bg-sidebar-desktop.svg),
        var(--Purplish-blue);
    background-position: bottom;
    background-repeat: no-repeat;
    padding: 3rem 2rem;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.selection {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid var(--White);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    color: var(--White);
}

.selected {
    background-color: var(--Light-blue);
    color: #000;
    border: 1px solid var(--Light-blue);

}

.step-container {
    display: flex;
    flex-direction: column;
}

.step-container p {
    font-size: .8rem;
    text-transform: uppercase;
    color: var(--Cool-gray);
    letter-spacing: .05rem;
    margin: 0;
}

.step-container h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--White);
    letter-spacing: .1rem;
}

/* FORM CONTENT */
.form-section {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 4rem 1rem 6rem;
}

.title h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--Marine-blue);
    padding-bottom: 0.8rem;
}

.title p {
    margin: 0;
    color: var(--Cool-gray);
    padding-bottom: 2.2rem;
}

/* INFO SECTION */
.input-wrapper {
    padding-bottom: 1.2rem;
    padding-right: 2rem;
}

.input-wrapper label {
    font-weight: 500;
    font-size: .9rem;
    color: var(--Marine-blue);
    display: inline;
}

.input-wrapper input {
    width: 100%;
    padding: 1rem;
    margin-top: .4rem;
    border: 1px solid var(--Light-gray);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.input-wrapper input::placeholder {
    font-weight: 500;
    color: var(--Cool-gray);
}

.input-wrapper input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-wrapper input[type=number] {
    -moz-appearance: textfield;
}

.label-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.label-wrapper p {
    color: var(--valid);
    font-size: .6rem;
}

.error-msg {
    color: var(--Strawberry-red) !important;
}

.error-input {
    border: 1px solid var(--Strawberry-red);
    outline: 1px solid var(--Strawberry-red);
}

/* BUTTONS */
.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.primary-btn {
    align-self: flex-end;
    border: none;
    color: var(--White);
    border-radius: .5rem;
    background-color: var(--Marine-blue);
    padding: 1rem 1.5rem;
    cursor: pointer;
}

.primary-btn:hover {
    opacity: .8;
}

.back-btn {
    border: none;
    background-color: transparent;
    color: var(--Cool-gray);
    font-weight: 500;
    cursor: pointer;
}

.back-btn:hover {
    font-weight: 700;
}

.change-btn {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: var(--Cool-gray);
    font-size: .9rem;
    font-weight: 500;
    padding: 0;

}

/* PLANS SECTION */
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-bottom: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--Light-gray);
    border-radius: .5rem;
    padding: 1rem;
    gap: 5vh;
    cursor: pointer;
}

.active-card {
    border: 1px solid var(--Purplish-blue) !important;
    background-color: var(--Alabaster);
}

.card-content h2 {
    margin: 0;
    color: var(--Marine-blue);
    padding-bottom: 0.2rem;
}

.card-content p {
    margin: 0;
    font-size: .9rem;
    color: var(--Cool-gray);
}

.card-content.yearly-dropdown p {
    color: var(--Marine-blue);
    padding-top: .2rem;
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0.2rem;
    border-radius: .5rem;
    background-color: var(--Alabaster);
}

.toggle-wrapper p {
    font-size: .9rem;
    color: var(--Cool-gray);
    font-weight: 500;
}

/* TOGGLE SWITCH */
.toggle-wrapper input[type=checkbox] {
    height: 0;
    width: 0;
    display: none;
}

.toggle-wrapper label {
    cursor: pointer;
    width: 40px;
    height: 22px;
    background: var(--Marine-blue);
    display: block;
    border-radius: 90px;
    position: relative;
}

.toggle-wrapper label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 5px;
    width: 16px;
    height: 16px;
    background: var(--Alabaster);
    border-radius: 20px;
    transition: 0.3s;
}

.toggle-wrapper input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.toggle-wrapper label:active:after {
    width: 13px;
}

/* ADD-ONS SECTION */
.radio-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--Light-gray);
    border-radius: .5rem;
    padding: 1rem;
    gap: 1.2rem;
    cursor: pointer;
}

.content-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.radio-info label {
    margin: 0;
    color: var(--Marine-blue);
    font-weight: 700;
    cursor: pointer;
}

.radio-info p {
    margin: 0;
    color: var(--Cool-gray);
    padding-top: 0.2rem;
}

.radio-container>p {
    justify-self: flex-end;
    color: var(--Purplish-blue);
    font-weight: 500;
}

.radio-container input::after {
    background: var(--Purplish-blue);
}

/* SUMMARY SECTION */
.final-container {
    background-color: var(--Alabaster);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Light-gray);
    padding-bottom: 1rem;
}

.plan-title-wrapper h2 {
    margin: 0;
    color: var(--Marine-blue);
    padding-bottom: .2rem;
}

.plan-cost h3 {
    color: var(--Marine-blue);
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.total p {
    color: var(--Cool-gray);
}

.total h3 {
    color: var(--Purplish-blue);
    font-size: 1.3rem;
}



/* JAVASCRIPT CLASSES */
.hidden {
    display: none;
}